body {
    background: rgb(250, 208, 192);
    font: normal 15pt Arial;
}
section {
    padding: 15px;
    width: 388px;
    margin: auto;
}
header {
    color: white;
    text-align: center;
    font-style: italic;
    font-weight: lighter;
}
h2 {
    color: antiquewhite;
    font-weight: lighter;
    font-style: italic;
    font-size: 21px;
}
#doador, #receptor {
    margin-bottom: 24px;
    color: #009688;
}
select {
    border: 1px solid antiquewhite;
    background-color: antiquewhite;
    border-radius: 15px;
    padding: 5px 11px;
    color: #d94921;
}

#foto {
    width: 334px;
}

#resultado {
    text-align: center;
    color: #009688;
}
#ressultado {
    margin-top: 10px;
}

.text-align-center {
    text-align: center;
}
.centros {
    color: #fff7ed;
    font-size: 17px;
    font-style: italic;
}
.main-btn {
    background-color: #fad0c0;
    border: 2px solid #f6aeae;
    border-radius: 26px;
    padding: 7px 9px;
    font-weight: bolder;
    color: #ffffff;
}

@media (max-width: 600px) {
    h1 {
        font-size: 23px;
    }
    section {
        font-size: 15px;
    }
    #foto {
        width: 287px;
    }
  }